


@import "./font/font-stylesheet.css";

/*------------------------------------*\
  #GLOBAL ELEMENTS
\*------------------------------------*/

:root {

/*colors*/

--main-color: #685DC5;
--secondary-color: #4FA16C;
--text-color: #535353;
--light-color: #6A6A6A;
--border-color: #DADADA;


/*font*/

font-family: 'Apercu Pro';
}

body {
  margin: auto;
  padding: 0 20%;
}
section{
  padding: 2em;
}

h1 {
  font-size: 48px;
  color: var(--main-color);
  line-height: 56px;
  letter-spacing: -0.6px;
  font-weight: 500;
}

h2 {
  font-size: 16px;
  color: var(--main-color);
  line-height: 24px;
  letter-spacing: -0.15px;
  font-weight: 500;
}

h3 {
  font-size: 16px;
  color: var(--light-color);
  line-height: 24px;
  letter-spacing: -0.15px;
  font-weight: 500;
}

p {
  font-size: 22px;
  color: var(--text-color);
  letter-spacing: -0.33px;
  line-height: 32px;
  font-weight: 300;
}

hr {
  width: 15px;
  color: var(--border-color)
}

/* buttons */

.btn {
  display: flex;
  padding: 1em 2em;
  border-radius: 29px;
  background-color: var(--main-color);
  color: white;
  width: 10em;
}

.text-small {
  font-size: 16px;
  color: var(--light-color);
  line-height: 24px;
  letter-spacing: -0.15px;
  font-weight: 300;
}

.apprenticeship-temp {
  margin-bottom: 15vh;
}
/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: var(--dark-purple);
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-right: 50px;
}

#logo {
    width: 170px;
    cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.menu span {
  margin: 0 20px;
  color: white;
}

.user-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apply-now {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: -50px;
  margin-right: 250px;
  cursor: pointer;
  text-align: center;
  transition: 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.apply-now:hover {
  padding: 5px;
}

.apply-now span {
  width: min-content;
}


/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 320px) and (max-width: 767px) {
  nav .apply-now {
    visibility: hidden;
  }
}


/*------------------------------------*\
  #APPLY-SECTION
\*------------------------------------*/

.background-bottom {
    background-position: right bottom;
    background-repeat: no-repeat;
    z-index: -1;
}

.stamp {
  position: absolute;
  top: 75px;
  left: 20%;
  z-index: -1;
}


.format-half-section header{
  display:flex;
  flex-direction: row;
  align-items: center;
  align-self: start;
  margin-left: 0.5em;
}


.apply-section__right__Content {
  display: flex;
  flex-direction: column;
}


.counterdown {
  display: flex;
  flex-direction: column;

}
.counterdown h2 {
  margin:0;
}
.counterdown p {
  margin:0;
}

.counterdown p ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/*------------------------------------*\
  #ABOUT-SECTION
\*------------------------------------*/
.background-rounded {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% ;
}


.about-section header{
  display: flex;
  justify-content: space-around;
}

.emphase {
  font-size: 2em;
}

/* Graduation line - src=stack overflow */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--border-color) ;
  }

  .separator:not(:empty)::before {
    margin-right: .25em;
  }

  .separator:not(:empty)::after {
    margin-left: .25em;
  }

/*------------------------------------*\
  #TESTIMONIALS 3
\*------------------------------------*/
.profile-card {
  cursor: move;
}

.background-bottom {
  background-position: right bottom; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
  z-index: -1;
}

/*------------------------------------*\
  #FAQ 4
\*------------------------------------*/
.background-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% ;
}

.format-header-faq {
  padding: 1em;
  margin: 5em;
}

.btn-gray{
  padding: 1em;
  border-radius: 29px;
  border-color: var(--border-color);
  color: var(--main-color);
  width: 16em;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
}

select > option {
  background-color: white;
}

.select-wrapper {
  position: relative;
  margin: 1em;
}

.select-wrapper::after {
  content: '⌄';
  font-size: 16px;
  top: 12px;
  right: 20px;
  position: absolute;
}


.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.border-top {
  padding:1em;
  border-top: solid 1px var(--border-color);
}

.answer {
  font-size: 16px;
  margin-right: 10em;
}

details>summary {
  list-style: none;
}

details {
  transition: .5s ease-in-out;
}
summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: '+';
  background: var(--main-color);
  color: white;
  border-radius: 50%;
  padding: 1em;
  position: absolute;
  right: 9%;
}
details[open] summary:after {
  content: "-";
  animation: sweep .5s ease-in-out;
  background: white;
  color: var(--text-color);
  border: solid 1px var(--light-color);
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateX(-10px)}
  100%  {opacity: 1; transform: translateX(0)}
}


/*------------------------------------*\
  #BOTTOM BAR
\*------------------------------------*/

.countdown {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.fix-bottom {
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  width:100%;
  height:10vh;
}
/*------------------------------------*\
  #BOTTOM BAR
\*------------------------------------*/

@media only screen and (max-width: 900px) {
  .format-section, .format-row-item :not(.card){
      /* it place the items in vertical direction */
    flex-direction: column;
  }
  .format-half-section, .format-1third-section, .format-2third-section  {
    display: flex;
    width: 90%;
    padding: 1em;
  }
  .reverse {
    flex-direction: column-reverse;
  }

  .select-wrapper::after {
    top:40%
  }

  .format-90pc-item {
    margin: 0;
  }

}
