


@import "./font/font-stylesheet.css";

/*------------------------------------*\
  #GLOBAL ELEMENTS
\*------------------------------------*/

:root {

/*colors*/

--main-color: #685DC5;
--secondary-color: #4FA16C;
--text-color: #535353;
--light-color: #6A6A6A;
--border-color: #DADADA;


/*font*/

font-family: 'Apercu Pro';
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
section{
  padding: 0 10%;
  margin: auto;
}

h1 {
  font-size: 48px;
  color: var(--main-color);
  line-height: 56px;
  letter-spacing: -0.6px;
  font-weight: 500;
}

h2 {
  font-size: 16px;
  color: var(--main-color);
  line-height: 24px;
  letter-spacing: -0.15px;
  font-weight: 500;
}

h3 {
  font-size: 16px;
  color: var(--light-color);
  line-height: 24px;
  letter-spacing: -0.15px;
  font-weight: 500;
}

p {
  font-size: 22px;
  color: var(--text-color);
  font-weight: 300;
}

hr {
  width: 15px;
  color: var(--border-color)
}

/* buttons */

.btn {
  display: flex;
  padding: 1em 2.5em;
  border-radius: 30px;
  background-color: var(--main-color);
  color: white;
  width: 10em;
  cursor:pointer;
  z-index: 2;
}
.btn:hover{
  padding: 1.2em 2.7em;
}

.text-small {
  font-size: 16px;
  color: var(--light-color);
  line-height: 24px;
  letter-spacing: -0.15px;
  font-weight: 300;
}

.apprenticeship-temp {
  margin-bottom: 15vh;
}
/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/


.format-section {
  display:flex;
  justify-content: center;
  padding: 0 15%;
}


.format-half-section {
  display:flex;
  width:50%;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}

.halfright {
  margin-top: 3em;
  justify-content: unset;

}
.halfright header > img{
  margin-bottom: 1.5em;
}
.halfright header > div{
  padding-left: 2em;
  font-size: 27px;
  line-height: 1.2em;
  margin-bottom: 1.2em;
  color: #535353;
}
.powerby{
  color: #535353;
  font-size: 20px;
}

.format-1third-section {
  display:flex;
  flex-direction: column;
  width:30%;
}
.format-1third-height {
  display:flex;
  flex-direction: column;
  height: 33%;
}
.format-2third-section {
  display:flex;
  flex-direction: column;
  width: 67vw;
}

.format-item-box {
  border: solid 1px var(--border-color);
  background: white;
  padding: 1em;
  margin: 1em;
}

.inner-box {
  padding: 1em;
}

.format-row-item {
  display:flex;
  flex-direction: row;
}
.format-column-item {
  display:flex;
  flex-direction: column;
}

.format-wrap-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.format-align-center-item {
  display: flex;
  align-items: center;
}
.format-align-self-center-item {
    display: flex;
    align-self: center;
    color: #535353;
}

.margin-0 {
  margin:0;
}

.rounded-img {
  border-radius: 50%;
}


.format-50pc-item {
  width:50%;
}
.format-100pc-item {
  width:100%;
}
.format-90pc-item {
  margin: 5%
}




nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: var(--main-color);
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-right: 200px;
}

#logo {
    width: 400px;
    cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.menu span {
  margin: 0 20px;
  color: white;
}

.user-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apply-now {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: -50px;
  margin-right: 250px;
  cursor: pointer;
  text-align: center;
  transition: 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.apply-now:hover {
  padding: 5px;
}

.apply-now span {
  width: min-content;
}






div.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  transition: 300ms ease-out;
  position: absolute;
  margin-left: 100px;
  border-radius: 50%;
}

div.open {
  padding: 2000px;
}
div.menu:hover > span.bottom div{
  right: 7px;
}
div.menu:hover > span.top div{
  left: 7px;
}

.menu > .menu span {
  width: 20px;
  height: 2px;
  background-color: white;
  margin-bottom: 4px;
}

span.top,
span.bottom {
  position: relative;
}

span.top div,
span.bottom div {
  border: white solid 1px;
  width: 4px;
  height: 4px;
  position: absolute;
  display: inline-block;
  top: -2px;
  background-color: var(--main-color);
}

span.top div {
  left: 0px;
  transition: 150ms;
}

span.top div.active {
  left: 7px;
}

span.bottom div {
  right: 0px;
  transition: right 150ms;
}

span.bottom div.active {
  right: 7px;
}



/*------------------------------------*\
  #APPLY-SECTION
\*------------------------------------*/

.background-bottom {
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
    margin-top: 4%;
}

.stamp {
  position: absolute;
  top: 75px;
  left: 40%;
  z-index: -1;
}


.format-half-section header{
  display:flex;
  flex-direction: row;
  align-items: center;
  align-self: start;
  margin-left: 0.5em;
}


.apply-section__right__Content {
  display: flex;
  flex-direction: column;
}


.counterdown {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.counterdown h2 {
  margin:0;
}
.counterdown div > span {
  font-size: 3vh;
}

.counterdown div{
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 10px;
}
.counterdown div > span:nth-child(n+2){
  padding-left: 10px;
  margin-bottom: 0;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

.BottomBarElement > h2{
  color: #685DC5;
}

/*------------------------------------*\
  #ABOUT-SECTION
\*------------------------------------*/
.background-rounded {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% ;
}


.about-section header{
  display: flex;
  justify-content: space-around;
}

.emphase {
  font-size: 2em;
}

/* Graduation line - src=stack overflow */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--border-color) ;
  }

  .separator:not(:empty)::before {
    margin-right: .25em;
  }

  .separator:not(:empty)::after {
    margin-left: .25em;
  }

/*------------------------------------*\
  #TESTIMONIALS
\*------------------------------------*/
.scale-up-center {
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.scale-up-after{
	transform: scale(0.5, 0.5);
  transition: all 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.scale-up-before{
  transform: scale(1, 1);
  transition: all 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#slider{
  padding: 15% 0% 0% 0%;
  cursor: url("/img/cursor.png"), auto;
}
.logo {
    width: 2em !important;
    margin-right: 2em !important;
}
.profile-card > div{
  width: 100% !important;
}

.profile-card > div > p{
  width: 68% !important;
  margin: auto !important;
  line-height: 32px!important;
  padding-top: 3em!important;
  font-size: 26px;
  color: #535353!important;
  text-align: left;
}
.text-small{
  font-size: 16px !important;
}
.card{
  margin: 1em 0 0 2em!important;
}
.card > img{
  width: 5em !important;
  height: 5em !important;
}
.card > div{
  align-items: baseline!important;
  justify-content: center!important;
  margin-left: 2em;
}
#slides{
  width: 80%!important;
  margin: auto!important;
  cursor: url("/img/cursor.png"), auto!important;
}
.profile-card {
  cursor: move!important;
}

.background-bottom {
  background-position: right bottom!important; /*Positioning*/
  background-repeat: no-repeat!important; /*Prevent showing multiple background images*/
  z-index: -1!important;
}

/*------------------------------------*\
  #FAQ 4
\*------------------------------------*/
.is-open{
    transition: all 1s ease-in;
}
.background-center {
  background-position: center;
  background-repeat: no-repeat;
}

.format-header-faq {
  margin: 5em;
  padding: 0 15%;
}
.slick-slide{
  height: 50% !important;
}

.btn-gray{
  padding: 1em;
  border-radius: 29px;
  border: var(--border-color) 1px solid;
  color: var(--main-color);
  width: 16em;
  transition: all 1s ease-in-out;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
}

select > option {
  background-color: white;
}

.select-wrapper {
  position: relative;
  margin: 1em;
}

.select-wrapper::after {
  content: '⌄';
  font-size: 16px;
  top: 12px;
  right: 20px;
  position: absolute;
}


.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}


.new-select {
  color: #fff;
  background-color: #2980B9;
  min-width: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: 15px Arial;
  display: inline-block;
}

.new-select span {
  height: 35px;
  line-height: 35px;
  padding: 0px 50px 0px 15px;
  text-align: left;
  display: block;
  cursor: pointer;
  position: relative;
}

.new-select span:hover { color: rgba(255, 255, 255, 0.75); }

.new-select span:before {
  content: "";
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 0px;
}
.new-select span:after {
  content: "\25BC";
  color: rgba(0, 0, 0, 0.4);
  width: 35px;
  height: 10px;
  font-size: 11px;
  line-height: 35px;
  text-align: center;
  position: absolute;
  right: 0px;
}

.new-select ul {
  width: 100% !important;
  padding: 0px;
  margin: 0px;
  display: none;
}

.new-select ul li {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  height: 30px;
  line-height: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0px 20px;
  font-size: 13px;
  text-align: left;
  list-style: none;
  cursor: pointer;
}

.new-select ul li:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: transparent;
}

.new-select ul li:last-child {
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}

.border-top {
  padding: 1em 1em 1em 0em;
  border-bottom: solid 1px var(--border-color);
  border-top: solid 1px var(--border-color);
  transition: all 0.5s ease-in;
}

#answer {
  font-size: 16px;
  margin-left: 29.5%;
  margin-right: 9%;
}
#Accordion{
  box-shadow: unset;
}
#question{
  padding-top: 1.4%;
}
#panel1a-header{
  padding: 0;
}
.read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #959595;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: #959595 solid 1px;
  cursor: pointer;
  transition: 100ms;
}

.more {
  border: var(--main-color) solid 25px;
  width: 0;
  height: 0;
}

.plus-minus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}

.plus-minus span {
  width: 2px;
  height: 14px;
  border-radius: 4px;
  background-color: grey;
}

.plus-minus.rotate {
  transform-origin: center;
  transform: rotate(720deg);
  color: white;
}

.plus-minus.rotate span {
  background-color: rgb(255, 255, 255);
}

.plus-minus.rotate .vertical-bar {
  visibility: hidden;
}

.plus-minus .horizontal-bar {
  transform-origin: center;
  transform: translateY(7px) rotate(90deg);
}
.plus-minus .vertical-bar {
  transform: translateY(-7px);
}

.first-rotate {
  transform: rotate(360deg);
}

.first-rotate span {
  background-color: var(--main-color);
}
.Mui-expanded > .read-more{
  background-color: var(--main-color);
  transition: all 0.3s ease;
    border: #fff solid 1px;
}
.Mui-expanded > .vertical-bar{
  visibility: hidden;
}
.Mui-expanded > .read-more > .plus-minus span{
  background-color: white !important;
}

/*------------------------------------*\
  #BOTTOM BAR
\*------------------------------------*/

.stickyBar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 20px;
  padding: 20px;
  justify-content: space-around;
  background-color: white;
  border: #DADADA solid 1px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 5;
}

.properity {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 10px;
  font-weight: 500;
  color: #000;
}

.value {
  font-weight: 300;
  color: #535353;
}

/* ---------------RESPONSIVE-----------------------*/
@media (min-width: 320px) and (max-width: 1140px) {
  /* CSS */
  html{
    overflow-x: hidden;
  }
  .stickyBar {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }

  span {
    font-size: small;
  }
  nav .apply-now {
    visibility: hidden;
  }
  #logo{
    width: 250px;
  }
  nav{
    padding-right: 550px;
  }
  .background-bottom{
    flex-direction: column;
    background-image: none !important;
    padding-top: 5% !important;
  }
.format-section{
  padding: 0%;
  display: flex;
  flex-direction: column;
}
.format-half-section{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0%;
  padding-top: 0%;
  width: 90%;
}
section{
  padding: 0;
}
.halfright{
  padding-top: 5%;
  padding-left: 4%;
  margin-top: 0;
}
.counterdown div > span{
  font-size: 2vh;
}

.format-half-section header {
    display: flex;
    flex-direction: column-reverse;
    align-self: start;
    align-items: flex-start;
    margin-left: 0.5em;
}
.halfright header > div {
    font-size: 27px;
    line-height: 1.2em;
    color: #535353;
    padding: 0;
    margin-bottom: 0;
    display: flex;
}
.powerby {
    color: #535353;
    font-size: 20px;
    margin-right: 10px;
}
.background-rounded{
  padding-top: 10%;
  z-index: 1;
}
.Test {
    background: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    border: 1px solid #dadada;
    z-index: 1;
    padding-top: 150px;
}
.background-mobile {
    background: var(--main-color);
    margin-top: -10%;
    z-index: 0;
    height: 500px;
    margin-bottom: 300px;
}
.rounded-img{
  width: 80%;
  align-self: center;
}
.format-1third-section {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto !important;
}
.format-row-item {
    margin: auto !important;
    flex-direction: column;
}
.format-2third-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.background-center {
    background-image: url("/img/Color.png") !important;
    background-position: top;
    background-size: contain;
}
.card{
  display: flex;
  flex-direction: row;
}
#slides > header > .format-row-item{
  flex-direction: row;
}
  .slick-slide {
    height: auto !important;
}
.format-header-faq{
  padding: 0;
  margin: 5%;
}
.format-header-faq > header > h1{
  width: 100%;
}
.format-header-faq > header > div{
  width: 100%;
}
.select-wrapper::after {
    content: '⌄';
    font-size: 16px;
    top: 12px;
    right: 80px;
    position: absolute;
}
.properity{
  flex-direction: column;
}
#timetoend > div{
  flex-direction: row;
}

.properity > .value{
  width: 110%;
}
}
